/*@charset "UTF-8";*/
/* Sources:
Larger dependency for landing page + navigation bar: Bootstrap Theme Grayscale v6.0.1 (https://startbootstrap.com/themes/grayscale) 

Other sources: 
www.plantsome.nl
https://www.thesill.com
https://www.housebeautiful.com/lifestyle/gardening/g31355906/easy-low-maintenance-plants/ */


/* **************General Section********** */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
}

body {
	margin: 0;
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	font-size: 1rem;
	background-color: black;
	letter-spacing: 0.0625em;
}

.alerts-wrapper {
	position: fixed;
	top: 5rem;
	width: 100vw;
	z-index: 10;
}

.dropbtn {
	background-color: transparent;
	font-size: 16px;
	border: none;
	padding: 2rem 1.5rem;
	/*color: rgba(255, 255, 255, 0.5);*/
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	background-color: #fff;
	color: #000000;
	display: none;
	position: absolute;
	min-width: 100%;
	z-index: 1;
	padding: 1.5rem 1rem;
}

.dropbtnbegin {
	color: #64a19d;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropbtn {
	color: #000000;
}

article,
footer,
header,
nav,
section {
	display: block;
}

h1,
h2,
h4 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

ul {
	margin-top: 0;
	margin-bottom: 1rem;
}

b,
strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}

a {
	color: #64a19d;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #467370;
	text-decoration: none;
}

button {
	border-radius: 0;
}

input,
button {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button {
	text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h4,
.h4 {
	font-size: 1.5rem;
}

h5,
.h5 {
	font-size: 1.25rem;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.small {
	font-size: 80%;
	font-weight: 400;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.container {
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	margin-right: auto;
	margin-left: auto;
}


.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -0.75rem;
	margin-left: -0.75rem;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
	padding-right: 0;
	padding-left: 0;
}

.col-xl-8,
.col-xl-4,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-md-10,
.col-md-4,
.col-12 {
	position: relative;
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

@media (min-width: 768px) {
	.col-md-4 {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}
	.col-md-10 {
		flex: 0 0 83.3333333333%;
		max-width: 83.3333333333%;
	}
}

@media (min-width: 992px) {
	.col-lg-4 {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}
	.col-lg-5 {
		flex: 0 0 41.6666666667%;
		max-width: 41.6666666667%;
	}
	.col-lg-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-lg-7 {
		flex: 0 0 58.3333333333%;
		max-width: 58.3333333333%;
	}
	.col-lg-8 {
		flex: 0 0 66.6666666667%;
		max-width: 66.6666666667%;
	}
	.order-lg-first {
		order: -1;
	}
}

@media (min-width: 1200px) {
	.col-xl-4 {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}
	.col-xl-8 {
		flex: 0 0 66.6666666667%;
		max-width: 66.6666666667%;
	}
}

.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
	color: #fff;
	background-color: #64a19d;
	border-color: #64a19d;
	border-radius: 25px;
}

.btn-primary:hover {
	color: #fff;
	background-color: #548b87;
	border-color: #4f837f;
}

.collapse:not(.show) {
	display: none;
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	transition: height 0.35s ease;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-link,
.nav-link-shop {
	display: block;
	padding: 0.5rem 1rem;
	color: #64a19d;
}

.nav-link:hover,
.nav-link-shop:hover {
	text-decoration: none;
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.navbar-shop {
	color: #fff;
}

.navbar-easycare {
	background-color: #fff !important;
}

.navbar .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.navbar-brand-shop {
	color: #64a19d;
}

.navbar-brand,
.navbar-brand-shop {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand-shop:hover {
	text-decoration: none;
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
}

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
	text-decoration: none;
}

@media (max-width: 991.98px) {
	.navbar-expand-lg>.container {
		padding-right: 0;
		padding-left: 0;
	}
}

@media (min-width: 992px) {
	.navbar-expand-lg {
		flex-flow: row nowrap;
		justify-content: flex-start;
	}
	.navbar-expand-lg .navbar-nav {
		flex-direction: row;
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu {
		position: absolute;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
	.navbar-expand-lg>.container {
		flex-wrap: nowrap;
	}
	.navbar-expand-lg .navbar-collapse {
		display: flex !important;
		flex-basis: auto;
	}
	.navbar-expand-lg .navbar-toggler {
		display: none;
	}
}

.navbar-light .navbar-brand {
	color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
	color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
	color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
	color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
	color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
	color: rgba(0, 0, 0, 0.5);
	border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-text {
	color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a {
	color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
	color: rgba(0, 0, 0, 0.9);
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
}

.card>hr {
	margin-right: 0;
	margin-left: 0;
}

.card>.list-group {
	border-top: inherit;
	border-bottom: inherit;
}

.card>.list-group:first-child {
	border-top-width: 0;
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
}

.card>.list-group:last-child {
	border-bottom-width: 0;
	border-bottom-right-radius: calc(0.25rem - 1px);
	border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-body {
	flex: 1 1 auto;
	min-height: 1px;
	padding: 1.25rem;
}

.bg-color {
	background-color: /*#CED9BF*/
	#fff !important;
}

a.bg-color:hover,
a.bg-color:focus,
button.bg-color:hover,
button.bg-color:focus {
	background-color: #CED9BF !important;
}

.bg-offwhite {
	background-color: #F0F2F2 !important;
}

.d-none {
	display: none !important;
}

.d-flex {
	display: flex !important;
}

@media (min-width: 992px) {
	.d-lg-block {
		display: block !important;
	}
}

.flex-wrap {
	flex-wrap: wrap !important;
}

.flex-fill {
	flex: 1 1 auto !important;
}

.justify-content-center {
	justify-content: center !important;
}

.align-items-center {
	align-items: center !important;
}

.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.w-100 {
	width: 100% !important;
}

.h-100 {
	height: 100% !important;
}

.m-0 {
	margin: 0 !important;
}

.my-0 {
	margin-top: 0 !important;
}

.mr-0 {
	margin-right: 0 !important;
}

.m-2 {
	margin: 0.5rem !important;
}

.mt-2,
.my-2 {
	margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
	margin-right: 0.5rem !important;
}

.mb-2 {
	margin-bottom: 0.5rem !important;
}

.mx-2 {
	margin-left: 0.5rem !important;
}

.mb-3 {
	margin-bottom: 1rem !important;
}

.my-4 {
	margin-top: 1.5rem !important;
}

.mb-4,
.my-4 {
	margin-bottom: 1.5rem !important;
}

.mt-5,
.my-5 {
	margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
	margin-right: 3rem !important;
}

.mb-5 {
	margin-bottom: 3rem !important;
}

.py-4 {
	padding-top: 1.5rem !important;
}

.py-4 {
	padding-bottom: 1.5rem !important;
}

.my-auto {
	margin-top: auto !important;
}

.mx-auto {
	margin-right: auto !important;
	margin-bottom: 8rem;
}

.my-auto {
	margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
	margin-left: auto !important;
}

@media (min-width: 576px) {
	.mb-sm-0 {
		margin-bottom: 0 !important;
	}
	.mr-sm-2 {
		margin-right: 0.5rem !important;
	}
}

@media (min-width: 768px) {
	.mb-md-0 {
		margin-bottom: 0 !important;
	}
}

@media (min-width: 992px) {
	.mb-lg-0 {
		margin-bottom: 0 !important;
	}
	.mb-lg-5 {
		margin-bottom: 3rem !important;
	}
}

.text-center {
	text-align: center !important;
}

@media (min-width: 992px) {
	.text-lg-left {
		text-align: left !important;
	}
	.text-lg-right {
		text-align: right !important;
	}
}

.text-uppercase {
	text-transform: uppercase !important;
}

.text-white {
	color: #fff !important;
}

.text-primary {
	color: #64a19d !important;
}

a.text-primary:hover,
a.text-primary:focus {
	color: #467370 !important;
}

.text-color {
	color: #161922 !important;
}

a.text-color:hover,
a.text-color:focus {
	color: #161922 !important;
}

.text-black-50 {
	color: rgba(0, 0, 0, 0.5) !important;
}

.text-white-50 {
	color: rgba(255, 255, 255, 0.5) !important;
}

#mainNav {
	min-height: 3.5rem;
	background-color: #fff;
}

#mainNav .navbar-toggler {
	font-size: 80%;
	padding: 0.75rem;
	color: #64a19d;
	border: 1px solid #64a19d;
}

#mainNav .navbar-brand {
	color: #000000;
	font-weight: 700;
	padding: 0.9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
	color: fade(#fff, 80%);
	outline: none;
	background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
	outline: none;
	background-color: transparent;
}

@media (min-width: 992px) {
	#mainNav {
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: none;
		background-color: transparent;
		transition: background-color 0.3s ease-in-out;
	}
	#mainNav .navbar-brand {
		padding: 0.5rem 0;
		color: rgba(255, 255, 255, 0.5);
	}
	#mainNav .navbar-brand-shop {
		padding: 0.5rem 0;
	}
	#mainNav .nav-link {
		transition: none;
		padding: 2rem 1.5rem;
		color: rgba(255, 255, 255, 0.5);
	}
	#mainNav .nav-link-shop,
	.nav-link-plantcare {
		transition: none;
		padding: 2rem 1.5rem;
	}
	#mainNav .nav-link:hover {
		color: rgba(255, 255, 255, 0.75);
	}
	#mainNav .nav-link:active {
		color: #fff;
	}
	#mainNav.navbar-shrink {
		background-color: #fff;
	}
	#mainNav.navbar-shrink .navbar-brand {
		color: #000000;
	}
	#mainNav.navbar-shrink .nav-link {
		color: #000000;
		padding: 1.5rem 1.5rem 1.25rem;
		border-bottom: 0.25rem solid transparent;
	}
	#mainNav.navbar-shrink .nav-link:hover {
		color: #64a19d;
	}
	#mainNav.navbar-shrink .nav-link:active {
		color: #467370;
	}
	#mainNav.navbar-shrink .nav-link.active {
		color: #64a19d;
		outline: none;
		border-bottom: 0.25rem solid #64a19d;
	}
}

.btn {
	box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
	padding: 1.25rem 2rem;
	font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 80%;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	border: 0;
}

.masthead {
    background: url("../assets/img/blue.jpg");
	position: relative;
	width: 100%;
	height: auto;
	min-height: 35rem;
	padding: 15rem 0;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.masthead h1 {
	font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 2.5rem;
	line-height: 2.5rem;
	letter-spacing: 0.8rem;
	background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.masthead h2 {
	max-width: 20rem;
	font-size: 1rem;
}

@media (min-width: 768px) {
	.masthead h1 {
		font-size: 4rem;
		line-height: 4rem;
	}
}

@media (min-width: 992px) {
	.masthead {
		height: 100vh;
		padding: 0;
	}
	.masthead h1 {
		font-size: 5.5rem;
		margin-bottom: 2rem;
		line-height: 6.5rem;
		letter-spacing: 0.8rem;
	}
	.masthead h2 {
		max-width: 30rem;
		font-size: 1.5rem;
	}
}

.bg-light {
	background-color: #fff !important;
}

.section-two {
	padding-top: 8rem;
	padding-bottom: 4rem;
	background-color: #fff !important;
}

.section-three {
	padding: 10rem 0;
}

.section-three .featured-text {
	padding: 2rem;
}

@media (min-width: 992px) {
	.section-three .featured-text {
		padding: 0 0 0 2rem;
		border-left: 0.5rem solid #64a19d;
	}
}

.section-three .section-three-text {
	padding: 3rem;
	font-size: 90%;
}

@media (min-width: 992px) {
	.section-three .section-three-text {
		padding: 5rem;
	}
	.section-three .section-three-text hr {
		border-color: #64a19d;
		border-width: 0.25rem;
		width: 30%;
	}
}

.signup-section {
	padding: 10rem 0;
	background: url("../assets/img/sdfs.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.signupmargin {
	margin-left: 12rem;
	margin-right: auto;
	padding-top: 5rem;
}

.h2margin {
	margin-bottom: 1rem !important;
}

.signup-section .form-inline input {
	box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
	padding: 1.25rem 2rem;
	height: auto;
	font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 80%;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	border: 0;
}

.contact-section {
	padding-top: 5rem;
}

.contact-section .card {
	border: 0;
	border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4 {
	font-size: 0.8rem;
	font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	text-transform: uppercase;
	letter-spacing: 0.15rem;
}

.contact-section .card hr {
	border-color: #64a19d;
	border-width: 0.25rem;
	width: 3rem;
}

.contact-section .social {
	margin-top: 5rem;
}

.contact-section .social a {
	text-align: center;
	height: 3rem;
	width: 3rem;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 100%;
	line-height: 3rem;
}

.contact-section .social a:hover {
	color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
	color: #fff;
}

.footer {
	padding: 5rem 0;
}


/* ******************************* account page ******************************** */

.loginAccount,
.registeraccount {
	border: 1px solid #d3ced2;
	padding: 20px;
	margin: 2em 0;
	text-align: left;
	border-radius: 5px;
}

.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-radius: .25rem;
}


.alert.message {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
	position: relative;
}

.alert.error {
	color: #a94442;
	position: relative;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.flashes {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.join-footer {
	margin-top: 13px;
	margin-bottom: 0;
	text-align: center;
}

.formRow {
	margin: 0 0 12px;
}

.loginAccount .formRow .required {
	color: red;
	font-weight: 700;
	border: 0!important;
	text-decoration: none;
	visibility: visible;
}

.loginAccount .formRow .btn {
	border-radius: 20px;
	margin-left: 10px;
	background-color: #fcabab;
	color: #fff;
}

.loginAccount .col2-set .col-1 {
	float: left;
	width: 48%;
}

.accountCol h2 {
	font-size: 28px;
	line-height: 34px;
	font-weight: 500;
	letter-spacing: 1px;
	color: rgba(255, 255, 255, 0.5);
}

.regCol {
	margin-top: 5rem;
}

.login-button {
	color: #fff;
	padding: 11px 20px;
	padding-bottom: 10px;
	background-color: #ff9393;
	border-color: #ff9393;
	font-weight: 700;
	width: 100%;
}


/* **********************************Shop section ****************************** */

.addtocartbutton {
	font-size: 18px;
	padding-bottom: 2px;
	background-color: #64a19d;
	color: #fff;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	border: 0;
}

.addtocartbutton:hover {
	color: #212529;
	text-decoration: none;
}

.updatecart {
	background-color: transparent;
	border: 0;
	transition: transform .2s;
}

.updatecart:hover {
	transform: scale(1.5);
}

#shop-body {
	background-color:#fff;
}

.carticon {
	position: absolute;
	list-style: none;
	padding: 12px;
	margin: 0;
	display: flex;
	top: 8px;
	left: 8px;
	background: transparent;
}

.shop-wrapper {
	display: block;
	flex-direction: row;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 80px);
	max-width: 1150px;
	position: relative;
}

.shop-display {
	list-style-type: none;
}

.product-image {
	height: 100%;
	align-items: flex-end;
	padding-bottom: 100px;
	display: flex;
	align-content: center;
	justify-content: center;
}

.list-item .imgwrap {
	height: 100%;
	width: 100%;
	display: block;
	padding: 8px;
	padding-bottom: 0;
	min-height: 540px;
	position: relative;
	flex-flow: column;
}

.product-image img {
	max-height: 95%;
	max-width: 100%;
}

.product-stats {
	background-color: white;
	padding: 0;
	order: 2;
	margin-top: 8px;
	width: 100%;
	align-self: flex-end;
	transition: all 0.4s ease-in-out;
	z-index: 2;
	max-height: 0px;
	overflow: hidden;
}

/*source: plantsome */
.productgrid-itemheader {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 10px 14px;
	z-index: 2;
	transition: all 0.4s ease-in-out;
	background-color: white;
	order: 1;
	max-height: 72px;
	min-height: 72px;
	width: 100%;
}

.product-info {
	position: absolute;
	bottom: 8px;
	left: 0;
	margin-left: 4.5px;
	margin-bottom: -12px;
	width: 97%;
	display: flex;
	flex-flow: column;
}

.list-item :hover .product-stats {
	max-height: 200px;
	margin-bottom: 8px;
}

.shop-display {
	display: flex !important;
}


.smiley {
	font-size: 30px;
}

.list-item {
	position: relative;
	width: calc(33.333% - 30px);
	height: 540px;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: #afcecd;
}

.shop-section {
	position: relative;
	padding-top: 3rem;
	padding-bottom: 5rem;
}

.product-set {
	width: calc(66.666% - 30px);
}

.product-set-image img {
	position: absolute;
	max-height: 90%;
	width: 70%;
	margin-left: 5rem;
}

.productgrid-itemheader .subtitle {
	width: calc(100% + 60px);
	display: block;
}

.quiz-button {
	border-radius: 15px;
	font-size: 18px;
	background-color: #64a19d;
	color: #fff;
	padding: 11px 20px;
}


.text-beginner-plants {
	position: absolute;
	bottom: 5px;
	right: 20px;
	padding-bottom: 7rem;
}

#plant-packs {
	padding: 0;
}

/* *********************************plant care page******************************** */

#plantcarenav {
	background-color: #fff;
}

.plantcare-section {
	padding-top: 9rem;
}

.care {
	text-align: center;
	align-items: center;
	padding-bottom: 10rem;
	background-size: cover;
	margin: 0px 0px 16px 0px;
	padding: 0 13%;
}

.care img {
	max-width: 85%;
	height: auto;
}

.articleform2 {
	background-repeat: no-repeat;
	background-size: 370px, 400px;
	background-position: 112% 7%, -9% 95%;
}

#page-plantcare {
	margin: 0;
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: white;
}

.articleform {
	padding: 0 30%;
	margin-top: 3rem;
	padding-bottom: 2rem;
}

.section-title {
	font-size: 3rem;
	line-height: 1.1;
	padding: 0 20%;
}

.section-subtitle {
	padding: 0 20%;
	font-size: 1.3rem;
	margin-bottom: 4rem;
}


.leafy-bg {
	background-image: url("../assets/img/leafy-bg-2.png"), url("../assets/img/bg-leaf.png");
}

/*source: the sill */
.articleform {
	background-repeat: no-repeat;
	background-size: 350px, 400px;
	background-position: 110% 10%, -10% 100%;
}


/* ************************REGISTRATION PAGE ********** */

.required-reg {
	color: red;
	font-weight: 700;
	border: 0!important;
	text-decoration: none;
	visibility: visible;
}


/* ***************************CART********************* */

.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
}


.tbl-cart {
	font-size: 0.9em;
}

.tbl-cart th {
	font-weight: normal;
}

.cart-item-image {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: #E0E0E0 1px solid;
	padding: 5px;
	vertical-align: middle;
	margin-right: 15px;
}

.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}

.product-title {
	margin-bottom: 20px;
}

.product-price {
	float: left;
}

.cart-action {
	float: right;
}

.product-quantity {
	padding: 5px 10px;
	border-radius: 3px;
	border: #E0E0E0 1px solid;
}

.quantity-block {
	margin-left: 1rem;
}

#product-grid {
	margin: 40px;
}

#shopping-cart table {
	width: 100%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	background-color: #FFFFFF;
}

.cart-content-header {
	padding-bottom: 5rem;
}

.cart-content-section {
	position: relative;
	padding: 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	font-size: 12px;
}

.mastheadcart {
	background-color: #A3D9D9;
	background-image: none;
}

.cart-content {
	width: 100%;
}

.checkout {
	float: left;
	width: 100%;
	margin: 0 0 50px;
}

.checkout-btn {
	float: right;
	border: 0;
	border-radius: 15px;
	color: #fff;
	padding: 11px 20px;
	padding-bottom: 10px;
	background-color: #ff9393;
	border-color: #ff9393;
	font-weight: 700;
}

.checkoutwrapper {
	padding-top: 3rem;
}

.cart-content-container {
	float: left;
	width: 100%;
}

.products-container {
	float: left;
	width: 100%;
}

.products-container-header {
	float: left;
	width: 100%;
	padding: 0;
	list-style-type: none;
	border-bottom: 1px solid #bebebe;
}

.products-header-container {
	float: left;
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #bebebe;
	margin-bottom: 3rem;
}

.cartimg {
	max-height: 64px;
	max-width: 64px;
	height: auto;
	width: auto;
	background-color: white;
}

.deletecartitembtn {
	background-color: transparent;
	border: 0;
	width: 30px;
	transition: transform .2s;
}

.deletecartitembtn:hover {
	transform: scale(1.5);
}

.header-amount {
	width: 19%;
	font-weight: 700;
	font-size: 14px;
}

.header-products {
	font-weight: 700;
	font-size: 14px;
}

.header-price {
	float: left;
	width: 19%;
	font-weight: 700;
	font-size: 14px;
}


.input-field {
	width: 42px;
	padding-left: 0;
	padding-right: 0;
	min-width: 2rem;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 1px solid #b3b3b3;
}


.display-block {
	margin-right: 0;
}

.cart-total-container {
	padding-top: 2rem;
	float: left;
	width: 100%;
	margin: 0 0 32px;
}


/* **************** Plants for beginners ************ */

.easyplantlist {
	margin-right: 2%;
	margin-left: auto;
	width: 66%;
}

.easycarecontainer {
	margin-bottom: 1.875rem;
	position: relative;
	max-width: 75rem;
	margin: 0 auto;
}

.easy-list-content {
	margin-top: 1.875rem;
	margin-bottom: 5rem;
}

.slideheader {
	margin-bottom: 0;
}

.slideheadernr {
	font-size: 5.600rem;
	line-height: 1;
	color:#A3D9D3;
	display: inline-block;
	text-align: left;
    font-family: Orelo Standard Bold, Times, Serif;
	margin-bottom: 0;
}

.slideheadertxt {
	display: inline-block;
}

.outermediawrapper {
	overflow: hidden;
	margin-right: 2%;
}

.slideheadtxt {
	display: block;
}

.slideinner {
	margin-right: 2%;
	width: 55%;
}

.slidedescriptor {
	/*float: right;*/
	width: 55%;
}

.slidedescriptor p {
	margin-top: 1rem;
}

.easyplantimg {
	display: block;
	width: 100%;
	min-height: .0625rem;
}

.bannereasycare {
	margin-top: 5rem;
	padding-top: 5rem;
}

.articleeasycare {
	margin-top: 8rem;
}


/* ********************** QUERIES ********************* */


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	.articleform {
		padding: 0 10%;
	}
	.section-three {
		padding: 0;
	}
	.text-beginner-plants {
		position: relative;
		padding-bottom: 4rem;
		padding-left: 2rem;
		padding-right: auto;
	}
	.section-two {
		padding-top: 3rem;
		padding-bottom: 0;
	}
	.masthead .container {
		display: block!important;
	}
	.masthead h1 {
		font-size: 1.5rem;
		margin-bottom: 5rem;
	}
	.d-flex {
		display: block!important;
	}
	.social {
		text-align: center;
	}
	.signupmargin {
		margin-left: auto;
	}
	.leafy-bg {
		background-image: none;
	}
	.section-title,
	.section-subtitle {
		padding: 0 10%;
		margin-bottom: 2rem;
	}
	.plantcare-section {
		padding-top: 7rem;
	}
	.care img {
		max-width: 100%;
	}
	.articleform {
		margin-top: 1rem;
	}
	.easyplantlist {
		margin: 0;
		width: 100%;
	}
	.slideheadtxt {
		text-align: center;
	}
	.slideinner {
		width: 100%;
		margin-right: 0;
	}
	.slidedescriptor {
		text-align: center;
		width: 90%;
		margin-left: 1rem;
		margin-right: auto;
	}
	.list-item {
		width: calc(100% - 8px);
	}
	.shop-wrapper {
		width: 100%;
		margin-top: 3rem;
	}
	.shop-display {
		padding: 0;
	}
	.logintitle,
	.registertitle {
		margin-left: auto;
		margin-right: auto;
	}
	.accountCol {
		margin-bottom: 2rem;
	}
	.mastheadlogin {
		padding: 11rem 0;
	}
	.regCol {
		margin-top: 0;
	}
	.outermediawrapper {
		margin-right: 0;
	}
	.display-block {
		display: none;
	}
	.itemname {
		font-size: 0.8rem;
	}
	.cart-content {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
	.header-products {
		padding-right: 2rem;
	}
	.header-amount {
		padding-right: 1rem;
	}
	.cart-header-row {
		display: none !important;
	}
	.products-header-container {
		padding-right: 1rem;
		padding-left: auto;
	}
}


/* Landscape only */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.signup-section .form-inline input {
		margin-bottom: 2rem!important;
	}
	.masthead h1 {
		padding-top: 0!important;
		font-size: 2.5rem;
	}
	.list-item {
		width: calc(50% - 30px)!important;
	}
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */


/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
	.signup-section .form-inline input {
		margin-bottom: 0rem!important;
	}
	.masthead h1 {
		padding-top: 0!important;
		font-size: 2.5rem;
	}
	.list-item {
		width: calc(50% - 30px)!important;
	}
	.text-beginner-plants {
		position: relative;
	}
	.section-three {
		padding: 0;
	}
	.text-beginner-plants {
		right: 0px;
	}
	.signupmargin {
		margin-left: auto;
	}
	.leafy-bg {
		background-image: none;
	}
	.slideheadtxt {
		font-size: 1.5rem;
	}
	.mastheadlogin {
		padding: 8rem 0;
	}
	.regCol {
		margin-top: 2rem;
	}
	.slideinner {
		margin-left: 0!important;
		margin-right: 0!important;
	}
	.slidedescriptor {
		text-align: center;
		margin-right: auto;
		margin-left: 0!important;
		width: 55%!important;
	}
}


/* ----------- iPad 1, 2, Mini and Air ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	.articleform {
		padding: 0 10%;
	}
	.section-three {
		padding: 0;
	}
	.text-beginner-plants {
		position: relative;
		padding-bottom: 4rem;
		padding-left: 2rem;
		padding-right: auto;
	}
	.section-two {
		padding-top: 3rem;
		padding-bottom: 0;
	}
	.masthead .container {
		display: block!important;
	}
	.d-flex {
		display: block!important;
	}
	.social {
		text-align: center;
	}
	.signupmargin {
		margin-left: auto;
	}
	.leafy-bg {
		background-image: none;
	}
	.signupbtn {
		margin-top: 3rem;
	}
	.section-title,
	.section-subtitle {
		padding: 0 10%;
		margin-bottom: 2rem;
	}
	.plantcare-section {
		margin-top: 0em;
	}
	.care img {
		max-width: 100%;
	}
	.articleform {
		margin-top: 1rem;
	}
	.easyplantlist {
		margin: 0;
		width: 100%;
	}
	.slideheadtxt {
		text-align: center;
	}
	.slideinner {
		width: 100%;
		margin-right: 0;
	}
	.slidedescriptor {
		text-align: center;
		width: 90%;
		margin-left: 1rem;
		margin-right: auto;
	}
	.list-item {
		width: calc(100% - 8px);
	}
	.shop-wrapper {
		width: 100%;
		margin-top: 3rem;
	}
	.shop-display {
		padding: 0;
	}
	.slideinner {
		width: 50%;
	}
	.slideinner {
		margin-left: auto;
		margin-right: auto;
	}
	.slidedescriptor {
		text-align: center;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.yellowimg {
		margin-left: 0.9rem;
		margin-right: auto;
	}
	.list-item {
		width: calc(50% - 8px);
		margin-left: 4px;
		margin-right: 4px;
	}
	.logintitle,
	.registertitle {
		margin-left: auto;
		margin-right: auto;
	}
	.accountCol {
		margin-bottom: 2rem;
	}
	.mastheadlogin {
		padding: 11rem 0;
	}
	.regCol {
		margin-top: 0;
	}
}


/* Landscape */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	.masthead h1 {
		padding-top: 8rem;
	}
	.mastheadlogin {
		padding: 0;
		padding-top: 9rem;
	}
    .cart-content {
        padding-top: 7rem;
    }
}


/* ----------- iPhone X ----------- */


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
	.signup-section .form-inline input {
		margin-bottom: 0rem!important;
	}
	.masthead h1 {
		padding-top: 0!important;
		font-size: 2.5rem;
	}
	.list-item {
		width: calc(50% - 30px)!important;
	}
	.text-beginner-plants {
		position: relative;
	}
	.section-three {
		padding: 0;
	}
	.text-beginner-plants {
		right: 0px;
	}
	.signupmargin {
		margin-left: auto;
	}
	.leafy-bg {
		background-image: none;
	}
	.slideheadtxt {
		font-size: 1.5rem;
	}
	.mastheadlogin {
		padding: 8rem 0;
	}
	.regCol {
		margin-top: 2rem;
	}
	.form-inline button {
		margin-top: 2rem;
	}
	.logintitle,
	.registertitle {
		margin-left: auto;
		margin-right: auto;
	}
	.yellowimg {
		margin-right: auto;
	}
	.slideinner {
		margin-left: auto;
		margin-right: auto;
	}
	.slidedescriptor {
		text-align: center;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.shop-display {
		padding: 0;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

/* Hide signout nav item on Desktop */

@media only screen and (min-width: 981px) {
	.hide-on-desktop {
		display: none !important;
	}
}
