{% extends 'base.html' %}
{% block content %}
<header class="masthead">
	<div class="container d-flex h-100 align-items-center">
		<div class="mx-auto text-center">
			<div class="col2-set">
				<div class="col-1">
					<h2> Log In </h2>
					<form class="loginAccount" action="" method="post">

						<p class="formRow">
							<label for="username">Username or email address&nbsp;
<span class="required">*</span></label>
							<input type="text" class="" name="username" id="username"  value="{{ request.form.username }}">			</p>
							<p class="formRow">
								<label for="password">Password&nbsp;
<span class="required">*</span></label>
								<input type="password" name="password" value="{{ request.form.password }}"> </p>
								<p class="formRow>
						<input class=" btn btn-default loginButton" type="submit" value="Login">
									Log In
								</p>
					</form>
					{% if error %}
					<p class="error"><strong>Error:</strong>
						{{ error }}
						{% endif %}
				</div>
			</div>
		</div>
	</div>
</header>

{% endblock %}