{% extends 'base.html' %}
{% block content %}

<header class="masthead">
	<div class="container d-flex h-100 align-items-center">

		<div class="cart-content">
			<div class="cart-content-header">
				<h2 class="">My Shopping Cart</h1>
			</div>
			<div class="checkout">
            <button class="btn-checkout">Checkout</button></div>
			<div class="cart-content-container">
				<div class="products-container">
					<ul class="products-container-header">
						<li class="header-amount">Amount</li>
						<li class="header-products">
							Product(s)</li>
						<li class="header-price">Price</li>
					</ul>
					<div class="product-list">
						<div class="products__item product-card"><input type="hidden" class="products-info-data">
                            {% for item in products %}
							<div class="product-image">
                            {{item["img_url"]}}
							</div>
							<div class="product-title">
                            {{item["quantity"]}}
							</div>
							<div class="product-price"> </div>
                            {% endfor %}
						</div>
						
					</div>
				</div>
				<div class="cart-total-container"">
					<span class="total-amount-text">Total amount:</span><span class="total-value"></span>
				</div>

			</div>


		</div>






	</div>
</header>

<!-- Contact-->
<section class="contact-section bg-offwhite">
	<div class="container">
		<div class="row">
			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card py-4 h-100">
					<div class="card-body text-center">
						<i class="fas fa-map-marked-alt text-primary mb-2"></i>
						<h4 class="text-uppercase m-0">Address</h4>
						<hr class="my-4" />
						<div class="small text-black-50">2034LP Street XXX Amsterdam</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card py-4 h-100">
					<div class="card-body text-center">
						<i class="fas fa-envelope text-primary mb-2"></i>
						<h4 class="text-uppercase m-0">Email</h4>
						<hr class="my-4" />
						<div class="small text-black-50"><a href="#!">m.neibauere@gmail.com</a></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card py-4 h-100">
					<div class="card-body text-center">
						<i class="fas fa-mobile-alt text-primary mb-2"></i>
						<h4 class="text-uppercase m-0">Phone</h4>
						<hr class="my-4" />
						<div class="small text-black-50">+31624159080</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social d-flex justify-content-center">
			<a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a><a class="mx-2"
				href="#!"><i class="fab fa-facebook-f"></i></a><a class="mx-2"
				href="#!"><i class="fab fa-github"></i></a>
		</div>
	</div>
</section>

{% endblock %}