{% extends 'base.html' %}
{% block content %}
<header class="masthead mastheadcart">
   <div class="container d-flex h-100 align-items-center">
      <div class="cart-content row">
         <div class="cart-content-header">
            <h2 class="titleshoppingcart">
               My Shopping Cart
            </h2>
         </div>
         <!--<div class="checkout">
            <button class="checkout-btn">Checkout</button></div>-->
         <div class="cart-content-container">
            <div class="products-container">
               <table class="products-header-container">
                  <tr class="cart-header-row">
                     <td class="header-products"></td>
                     <td class="header-products">Product(s)</td>
                     <td class="header-amount">Quantity</td>
                     <td class="header-price" colspan="2">Price</td>
                  </tr>
                  {% for item in products %}
                  <tr class="productrow">
                     <td class="display-block">
                        <img class="cartimg" alt="plant image" src="{{ url_for('static', filename=item.img_url) }}">
                     </td>
                     <td class="itemname">{{item.name}}</td>
                     <td class="quantity-block">
                        <div class="quantity-group">
                           <div class="input-quantity"
                              style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                           </div>
                           <form action="{{ url_for('shopping_cart', product_id=item._id) }}" method="POST">
                           <input class="input-field text-center" type="number" name="quantity" value="{{item.quantity}}">
                           <button class="updatecart" type="submit" name="action"><i class="fas fa-sync-alt"></i></button>
                           </form>
                        </div>
                     </td>
                     <td class="priceblock"><span class="pricebg">{{(item.price * item.quantity) | round(2, 'ceil')}}</span></td>
                     <td class="deleteform deleteblock">
                        <form action="{{ url_for('shopping_cart', product_id=item._id) }}" method="POST">
                        <button class=" btn-default deletecartitembtn"><i class="fas fa-trash-alt"></i></button>
                        </form>
                     </td>
                  </tr>
                  {% endfor %}
               </table>
               <div class="product-image">
               </div>
               <div class="product-title">
               </div>
               <div class="product-price"> </div>
            </div>
            <div class="checkoutwrapper"><button class="btn btn-default checkout-btn" value="" type="submit">Checkout</button></div>
         </div>
      </div>
   </div>
</header>
<!-- Contact-->
<section class="contact-section bg-offwhite">
   <div class="container">
      <div class="row">
         <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
               <div class="card-body text-center">
                  <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0">Address</h4>
                  <hr class="my-4" />
                  <div class="small text-black-50">2034LP Street XXX Amsterdam</div>
               </div>
            </div>
         </div>
         <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
               <div class="card-body text-center">
                  <i class="fas fa-envelope text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0">Email</h4>
                  <hr class="my-4" />
                  <div class="small text-black-50"><a href="#!">m.neibauere@gmail.com</a></div>
               </div>
            </div>
         </div>
         <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
               <div class="card-body text-center">
                  <i class="fas fa-mobile-alt text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0">Phone</h4>
                  <hr class="my-4" />
                  <div class="small text-black-50">+31624159080</div>
               </div>
            </div>
         </div>
      </div>
      <div class="social d-flex justify-content-center">
         <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a><a class="mx-2"
            href="#!"><i class="fab fa-facebook-f"></i></a><a class="mx-2"
            href="#!"><i class="fab fa-github"></i></a>
      </div>
   </div>
</section>
{% endblock %}