{% extends 'base.html' %}
{% block content %}
<header class="masthead mastheadlogin">
   <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto accountCol">
         <div class="row">
            <div class="col-6 logintitle">
               <h2> Log In </h2>
               <form class="loginAccount" action="" method="post">
                  <p class="formRow">
                     <label for="username">Username or email address&nbsp;
                     <span class="required">*</span></label><br>
                     <input  class="form-control" type="text" class="" name="username" id="username"  value="{{ request.form.username }}">			
                  </p>
                  <p class="formRow">
                     <label for="password">Password&nbsp;
                     <span class="required">*</span></label> <br>
                     <input class="form-control" type="password" name="password" value="{{ request.form.password }}"> 
                  </p>
                  <button class="btn btn-default login-button" value="Login" type="submit">Sign in</button> <br> 
                  <p class="join-footer"> New here? <a href="/register">Join</a></p>
               </form>
               {% if error %}
               <p class="error"><strong>Error:</strong>
                  {{ error }}
                  {% endif %}
            </div>
            {% if error %}
            <p class="error"><strong>Error:</strong>
               {{ error }}
               {% endif %}
         </div>
         <!-- UNDER THE FORM - START -->
         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
         {% for category, message in messages %}
         {% endfor %}
         {% endif %}
         {% endwith %}
         <!-- UNDER THE FORM - END-->
      </div>
   </div>
   </div>
   </div>
   </div>
</header>
<!-- Signup-->
<section class="signup-section" id="signup">
   <div class="container">
      <div class="row">
         <div class="col-md-10 signupmargin col-lg-8 text-center">
            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white-50 h2margin">Get the dirt!</h2>
            <form class="form-inline d-flex">
               <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email" placeholder="Enter email address..." /><button class="btn btn-primary signupbtn" type="submit">Subscribe</button>
            </form>
         </div>
      </div>
   </div>
</section>
<!-- Contact-->
<section class="contact-section bg-offwhite">
   <div class="container">
      <div class="row">
         <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
               <div class="card-body text-center">
                  <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0">Address</h4>
                  <hr class="my-4" />
                  <div class="small text-black-50">2034LP Street XXX Amsterdam</div>
               </div>
            </div>
         </div>
         <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
               <div class="card-body text-center">
                  <i class="fas fa-envelope text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0">Email</h4>
                  <hr class="my-4" />
                  <div class="small text-black-50"><a href="#!">m.neibauere@gmail.com</a></div>
               </div>
            </div>
         </div>
         <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
               <div class="card-body text-center">
                  <i class="fas fa-mobile-alt text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0">Phone</h4>
                  <hr class="my-4" />
                  <div class="small text-black-50">+31624159080</div>
               </div>
            </div>
         </div>
      </div>
      <div class="social d-flex justify-content-center">
         <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a><a class="mx-2"
            href="#!"><i class="fab fa-facebook-f"></i></a><a class="mx-2"
            href="#!"><i class="fab fa-github"></i></a>
      </div>
   </div>
</section>
{% endblock %}