{% extends 'base.html' %}
{% block content %}
<section class="shop-section bg-light">
<div class="shop-wrapper">
	<ul class="shop-display flex-wrap" id="productrange">
		<li class="list-item" style="background-color: #F5A2AB;">

				<div class="product-image">
					<img src="{{ url_for('static', filename='assets/img/calathea_lancifolia.png') }}">
              </div>
<div class="product-info">
                <ul class="product-stats">
                    <li><span class="icon" style="background-color: #fff"><i class="far fa-smile-beam"></i> I like to pray at night.</span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-tint"></i></span>
                    <span>
            I like my soil moist, but not soggy.
             </span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-sun"></i> I don't like direct sunlight!</span>
                </li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-cat"></i> I'm non-toxic to pets! </span></li>
                </ul>
                
                <header class="product-grid-item__header mt8">
                  <div class="product-grid-item-title-container">
                    <span class="subtitle">Calathea Rattlesnake</span>
                    <h4 class="plantname"><b>Princess Polly</b></h4>
                  </div>
                  <span class="price f-bold">
                    <big>25<sup>95</sup></big>
                  </span>
                </header>
              </div>
			
            </li>
		<li class="list-item">
        

				<div class="product-image">
					<img src="{{ url_for('static', filename='assets/img/dieffenbachia.png') }}" >
              </div>
              
<div class="product-info">
                <ul class="product-stats">
                    <li><span class="icon" style="background-color: #fff"><i class="far fa-smile-beam"></i> Legends say I ward off the evil eye.</span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-tint"></i></span>
                    <span>
            I like my soil moist, but not soggy.
             </span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-sun"></i> I will not tolerate direct sunlight.</span>
                </li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-cat"></i> I'm non-toxic to pets! </span></li>
                </ul>
                
                <header class="product-grid-item__header mt8">
                  <div class="product-grid-item-title-container">
                    <span class="subtitle">Dieffenbachia</span>
                    <h4 class="plantname"><b>Bubba Jr.</b></h4>
                  </div>
                  <span class="price f-bold">
                    <big>25<sup>95</sup></big>
                  </span>
                </header>
              </div>

		</li>
        <li class="list-item" style="background-color: #BAD2B9">

				<div class="product-image">
							<img src="{{ url_for('static', filename='assets/img/croton.webp') }}">
              </div>
<div class="product-info">
                <ul class="product-stats">
                    <li><span class="icon" style="background-color: #fff"><i class="far fa-smile-beam"></i> I was once used medicinally as a purgative. </span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-tint"></i></span>
                    <span>
            I like my soil moist, but not soggy.
             </span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-sun"></i> I don't like direct sunlight!</span>
                </li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-cat"></i> I will make your pets vomit >;[ </span></li>
                </ul>
                
                <header class="product-grid-item__header mt8">
                  <div class="product-grid-item-title-container">
                    <span class="subtitle">Croton</span>
                    <h4 class="plantname"><b>Sideshow Bob</b></h4>
                  </div>
                  <span class="price f-bold">
                    <big>25<sup>95</sup></big>
                  </span>
                </header>
              </div>
		</li>
        <li class="list-item">


				<div class="product-image">
							<img src="{{ url_for('static', filename='assets/img/rubber.png') }}">
              </div>
<div class="product-info">
                <ul class="product-stats">
                    <li><span class="icon" style="background-color: #fff"><i class="far fa-smile-beam"></i> I like to pray at night.</span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-tint"></i></span>
                    <span>
            I like my soil moist, but not soggy.
             </span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-sun"></i> I don't like direct sunlight!</span>
                </li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-cat"></i> I'm non-toxic to pets! </span></li>
                </ul>
                
                <header class="product-grid-item__header mt8">
                  <div class="product-grid-item-title-container">
                    <span class="subtitle">Calathea Rattlesnake</span>
                    <h4 class="plantname"><b>Princess Polly</b></h4>
                  </div>
                  <span class="price f-bold">
                    <big>25<sup>95</sup></big>
                  </span>
                </header>
              </div>
			

		</li>
        <li class="list-item" style="background-color: #F5C0AE;">
			<div class="product-image">
							<img src="{{ url_for('static', filename='assets/img/monstera_sm.png') }}">
              </div>
<div class="product-info">
                <ul class="product-stats">
                    <li><span class="icon" style="background-color: #fff"><i class="far fa-smile-beam"></i> I like to pray at night.</span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-tint"></i></span>
                    <span>
            I like my soil moist, but not soggy.
             </span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-sun"></i> I don't like direct sunlight!</span>
                </li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-cat"></i> I'm non-toxic to pets! </span></li>
                </ul>
                
                <header class="product-grid-item__header mt8">
                  <div class="product-grid-item-title-container">
                    <span class="subtitle">Calathea Rattlesnake</span>
                    <h4 class="plantname"><b>Princess Polly</b></h4>
                  </div>
                  <span class="price f-bold">
                    <big>25<sup>95</sup></big>
                  </span>
                </header>
              </div>
		</li>
        <li class="list-item">
			<div class="product-image">
							<img src="{{ url_for('static', filename='assets/img/fiddle_bush.png') }}">
              </div>
<div class="product-info">
                <ul class="product-stats">
                    <li><span class="icon" style="background-color: #fff"><i class="far fa-smile-beam"></i> I like to pray at night.</span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-tint"></i></span>
                    <span>
            I like my soil moist, but not soggy.
             </span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-sun"></i> I don't like direct sunlight!</span>
                </li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-cat"></i> I'm non-toxic to pets! </span></li>
                </ul>
                
                <header class="product-grid-item__header mt8">
                  <div class="product-grid-item-title-container">
                    <span class="subtitle">Calathea Rattlesnake</span>
                    <h4 class="plantname"><b>Princess Polly</b></h4>
                  </div>
                  <span class="price f-bold">
                    <big>25<sup>95</sup></big>
                  </span>
                </header>
              </div>
		</li>
        <li class="list-item" style="background-color: #91A880;">
			<div class="product-image">
							<img src="{{ url_for('static', filename='assets/img/dracaena.webp') }}">
              </div>
<div class="product-info">
                <ul class="product-stats">
                    <li><span class="icon" style="background-color: #fff"><i class="far fa-smile-beam"></i> I like to pray at night.</span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-tint"></i></span>
                    <span>
            I like my soil moist, but not soggy.
             </span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-sun"></i> I don't like direct sunlight!</span>
                </li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-cat"></i> I'm non-toxic to pets! </span></li>
                </ul>
                
                <header class="product-grid-item__header mt8">
                  <div class="product-grid-item-title-container">
                    <span class="subtitle">Calathea Rattlesnake</span>
                    <h4 class="plantname"><b>Princess Polly</b></h4>
                  </div>
                  <span class="price f-bold">
                    <big>25<sup>95</sup></big>
                  </span>
                </header>
              </div>
		</li>
        <li class="list-item">
			<div class="product-image">
							<img src="{{ url_for('static', filename='assets/img/adansoniiwhite.png') }}">
              </div>
<div class="product-info">
                <ul class="product-stats">
                    <li><span class="icon" style="background-color: #fff"><i class="far fa-smile-beam"></i> I like to pray at night.</span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-tint"></i></span>
                    <span>
            I like my soil moist, but not soggy.
             </span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-sun"></i> I don't like direct sunlight!</span>
                </li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-cat"></i> I'm non-toxic to pets! </span></li>
                </ul>
                
                <header class="product-grid-item__header mt8">
                  <div class="product-grid-item-title-container">
                    <span class="subtitle">Calathea Rattlesnake</span>
                    <h4 class="plantname"><b>Princess Polly</b></h4>
                  </div>
                  <span class="price f-bold">
                    <big>25<sup>95</sup></big>
                  </span>
                </header>
              </div>
		</li>
        <li class="list-item" style="background-color: #F5E7BA;">
			<div class="product-image">
							<img src="{{ url_for('static', filename='assets/img/calathea_beautystar.webp') }}">
              </div>
<div class="product-info">
                <ul class="product-stats">
                    <li><span class="icon" style="background-color: #fff"><i class="far fa-smile-beam"></i> I like to pray at night.</span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-tint"></i></span>
                    <span>
            I like my soil moist, but not soggy.
             </span></li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-sun"></i> I don't like direct sunlight!</span>
                </li>
                    <li><span class="icon" style="background-color: #fff"><i class="fas fa-cat"></i> I'm non-toxic to pets! </span></li>
                </ul>
                
                <header class="product-grid-item__header mt8">
                  <div class="product-grid-item-title-container">
                    <span class="subtitle">Calathea Rattlesnake</span>
                    <h4 class="plantname"><b>Princess Polly</b></h4>
                  </div>
                  <span class="price f-bold">
                    <big>25<sup>95</sup></big>
                  </span>
                </header>
              </div>
		</li>
	</ul>
</section>

</div>
{% endblock %}